.container {
  display: flex;
  position: relative !important;
  justify-content: center;
  align-items: center;
  // margin-left: 100px !important;
  // height: 480px;
  margin: auto;
  width: var(--fixedWidth);
  min-height: 100vh;
  overflow: hidden !important;
}
.webcam {
  border-radius: 25px;
  margin: auto;
  pointer-events: none !important;
}
.optionsContainer {
  background: white;
  padding: 50px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .labelForSelect {
    margin: 5px 10px !important;
  }
  .nextBtn {
    margin-top: 15px !important;
    padding: 5px 20px !important;
    background: var(--tintColor) !important;
    color: white !important;
    font-weight: 600 !important;
  }
  .selectField,
  .form {
    width: 100% !important;
  }
}
.thermalContainer {
  background: black;
  width: 100%;
  height: 100vh;
  position: relative;
}
.captureBtnContainer {
  position: absolute !important;
  bottom: 50px !important;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
}
.captureBtn {
  background-color: var(--tintColor) !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  z-index: 100 !important;
  transform-origin: center !important;
  transform: translate3d(-50%, 0, 0) !important;
  color: white !important;
  font-weight: 600 !important;
  svg {
    margin-left: 10px;
  }
}

//Thermal
.thermalContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .originalImage,
  .thermalImage {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 20px;
    h2 {
      font-weight: 800;
      font-size: 1.2rem;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
    img {
      min-width: 400px;
      max-width: 500px;
    }
  }
}

//Person Counting
.personContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 50px;

  .counters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .countIn,
    .countOut {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 70px;

      img {
        max-width: 40px;
      }
      .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
          font-size: 5em;
          color: var(--primaryColor);
          font-weight: 800;
        }
        p {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .countOut {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .camera {
    background: black;
    border-radius: 30px;
    min-height: 60vh;
    width: 100%;
    margin: 50px auto;
  }
}
//Person Counting CSS End

//PPE Kit Check
.ppeContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .underline {
    border-top: 2px solid var(--primaryColor);
    width: 70%;
    margin: 10px 0;
  }

  .details {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0;

      .item {
        width: 70%;
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 30px;
        }

        .statusImage {
          display: flex;
          flex: 0.6;
          justify-content: flex-end;
        }
      }
    }
  }

  .cameraPPE {
    width: 50%;
    background: black;
    min-height: 60vh;
    border-radius: 30px;
    overflow: hidden;
  }
}
