.container {
  display: flex;
  position: relative !important;
  justify-content: center;
  align-items: center;
  // margin-left: 100px !important;
  // height: 480px;
  margin: auto;
  width: var(--fixedWidth);
  min-height: 100vh;
  overflow: hidden !important;
  .card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px 30px;
    width: 100%;
    box-shadow: 2px 2px 20px 0px rgba($color: #000000, $alpha: 0.1);
  }
}
.webcam {
  // border-radius: 25px;
  margin: auto;
  pointer-events: none !important;
}
.optionsContainer {
  background: white;
  padding: 50px;
  border-radius: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .labelForSelect {
    margin: 5px 10px !important;
  }
  .nextBtn {
    margin-top: 15px !important;
    padding: 5px 20px !important;
    background: var(--tintColor) !important;
    color: white !important;
    font-weight: 600 !important;
  }
  .selectField,
  .form {
    width: 100% !important;
  }
}

.captureBtnContainer {
  position: absolute !important;
  bottom: 50px !important;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center;
  transform: translate3d(-50%, 0, 0);
}
.captureBtn {
  background-color: var(--tintColor) !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  z-index: 100 !important;
  transform-origin: center !important;
  transform: translate3d(-50%, 0, 0) !important;
  color: white !important;
  font-weight: 600 !important;
  svg {
    margin-left: 10px;
  }
}

//Thermal
.thermalContainer {
  height: 85vh;
  width: 100%;
  position: relative;
  background: white;
  border-radius: 25px;
  overflow: hidden;

  .details {
    height: 85vh;
    padding: 50px;
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;

    .title {
      h2 {
        font-size: 1.5rem;
        font-weight: 300;
        color: rgba($color: #000000, $alpha: 0.8);
      }
    }
    .tempContainer {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .temperature {
        margin-top: 50px;
        width: 100px;
        height: 300px;
        background: white;
        box-shadow: 2px 2px 10px -2px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden;
        .reading {
          width: 100%;
          height: 50%;
          background: green;
        }
        .readingValue {
          margin-bottom: 5px;
          p {
            font-weight: 600;
            color: rgba(0, 0, 0, 0.6);
          }
        }
      }
    }
    .tempCard {
      margin: 25px auto;

      .tempValue {
        h1 {
          font-size: 4rem;
          display: flex;
          align-items: flex-start;
          color: rgb(8, 153, 8);
          span {
            font-size: 1rem;
            margin-top: 15px;
            margin-left: 5px;
          }
        }
      }
      .userData {
        margin: 10px 0;
      }
      .icon {
        img {
          width: 25px;
          opacity: 0.4;
        }
        h3 {
          font-size: 0.9rem;
          margin-top: 10px;
          color: rgba($color: #000000, $alpha: 0.8);
        }
      }
    }
  }
  .camera,
  .webcam {
    width: 100% !important;
    height: 100% !important;
    background: black;
  }
}

//Person Counting
.personContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 50px;

  .counters {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .countIn,
    .countOut {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto 70px;

      img {
        max-width: 40px;
      }
      .desc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        h1 {
          font-size: 5em;
          color: var(--primaryColor);
          font-weight: 800;
        }
        p {
          font-weight: 600;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }
    .countOut {
      img {
        transform: rotate(180deg);
      }
    }
  }
  .camera {
    background: black;
    border-radius: 30px;
    min-height: 60vh;
    width: 100%;
    margin: 50px auto;
  }
}
//Person Counting CSS End

//PPE Kit Check
.ppeContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;

  .underline {
    border-top: 2px solid var(--primaryColor);
    width: 70%;
    margin: 10px 0;
  }

  .details {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    .list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0;

      .item {
        width: 70%;
        display: flex;
        margin: 10px 0;
        justify-content: space-between;
        align-items: center;

        img {
          max-width: 30px;
        }

        .statusImage {
          display: flex;
          flex: 0.6;
          justify-content: flex-end;
        }
      }
    }
  }

  .cameraPPE {
    width: 50%;
    background: black;
    min-height: 60vh;
    border-radius: 30px;
    overflow: hidden;
  }
}
