.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  width: var(--fixedWidth);
  min-height: 100vh;
  overflow: hidden !important;
}

.webcam {
  border-radius: 25px;
  margin: auto;
  pointer-events: none !important;
}

.optionsContainer {
  background: white;
  padding: 50px;
  border-radius: 20px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.optionsContainer .labelForSelect {
  margin: 5px 10px !important;
}

.optionsContainer .nextBtn {
  margin-top: 15px !important;
  padding: 5px 20px !important;
  background: var(--tintColor) !important;
  color: white !important;
  font-weight: 600 !important;
}

.optionsContainer .selectField,
.optionsContainer .form {
  width: 100% !important;
}

.thermalContainer {
  background: black;
  width: 100%;
  height: 85vh;
  position: relative;
  border-radius: 20px;
}

.captureBtnContainer {
  position: absolute !important;
  bottom: 50px !important;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: translate3d(-50%, 0, 0);
          transform: translate3d(-50%, 0, 0);
}

.captureBtn {
  background-color: var(--tintColor) !important;
  border-radius: 20px !important;
  padding: 10px 20px !important;
  z-index: 100 !important;
  -webkit-transform-origin: center !important;
          transform-origin: center !important;
  -webkit-transform: translate3d(-50%, 0, 0) !important;
          transform: translate3d(-50%, 0, 0) !important;
  color: white !important;
  font-weight: 600 !important;
}

.captureBtn svg {
  margin-left: 10px;
}

.thermalContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thermalContainer .originalImage,
.thermalContainer .thermalImage {
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
  border-radius: 20px;
}

.thermalContainer .originalImage h2,
.thermalContainer .thermalImage h2 {
  font-weight: 800;
  font-size: 1.2rem;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.thermalContainer .originalImage img,
.thermalContainer .thermalImage img {
  min-width: 400px;
  max-width: 500px;
}

.personContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 30px;
  padding: 50px;
}

.personContainer .counters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.personContainer .counters .countIn,
.personContainer .counters .countOut {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto 70px;
}

.personContainer .counters .countIn img,
.personContainer .counters .countOut img {
  max-width: 40px;
}

.personContainer .counters .countIn .desc,
.personContainer .counters .countOut .desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.personContainer .counters .countIn .desc h1,
.personContainer .counters .countOut .desc h1 {
  font-size: 5em;
  color: var(--primaryColor);
  font-weight: 800;
}

.personContainer .counters .countIn .desc p,
.personContainer .counters .countOut .desc p {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.5);
}

.personContainer .counters .countOut img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.personContainer .camera {
  background: black;
  border-radius: 30px;
  min-height: 60vh;
  width: 100%;
  margin: 50px auto;
}

.ppeContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ppeContainer .underline {
  border-top: 2px solid var(--primaryColor);
  width: 70%;
  margin: 10px 0;
}

.ppeContainer .details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.ppeContainer .details .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  margin: 20px 0;
}

.ppeContainer .details .list .item {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ppeContainer .details .list .item img {
  max-width: 30px;
}

.ppeContainer .details .list .item .statusImage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.6;
      -ms-flex: 0.6;
          flex: 0.6;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.ppeContainer .cameraPPE {
  width: 50%;
  background: black;
  min-height: 60vh;
  border-radius: 30px;
  overflow: hidden;
}
/*# sourceMappingURL=Capture.module.css.map */