.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  left: 0;
  padding: 0 20px;
  background: #0a022c;
  padding-top: 8vh;
}
.iconBtn {
  background: #555168;
  border-radius: 50%;
  margin: 20px 0;
  svg {
    color: var(--tintColor);
  }
}
.whiteBg {
  background: white !important;
}
.settingsDialog {
  padding: 10px 50px !important;
}
.formComponent {
  margin: 5px 0;
}
.settingsForm {
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
}
.saveBtn {
  background: var(--tintColor) !important;
  color: white !important;
  font-weight: 600 !important;
}
