.container {
  width: var(--fixedWidth) !important;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.tableHead {
  background: var(--primaryColor) !important;
  padding: 50px 0 !important;
  .headCell {
    color: white !important;
    font-size: 1.1em;
    font-weight: 600;
  }
}
.faceImage {
  overflow: hidden;
  position: relative;

  img {
    max-height: 80px;
  }
}
.details {
  padding: 15px 20px;
  width: 100%;
  background: var(--primaryColor);
  h4 {
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    color: white;
  }
}
