.container {
  width: var(--fixedWidth) !important;
  margin: 50px auto !important;
  margin-left: 150px !important;
}
.tableHead {
  background: var(--primaryColor) !important;
  .headCell {
    color: white !important;
  }
}
.faceImage {
  overflow: hidden;
  position: relative;

  img {
    max-height: 80px;
  }
}
.details {
  padding: 15px 20px;
  width: 100%;
  background: var(--primaryColor);
  h4 {
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    text-align: center;
    color: white;
  }
}
