.tabsContainer {
  padding-left: 100px !important;
  background-color: var(--primaryColor) !important;
}
.outerContainer {
  overflow-y: hidden !important;
}
.container {
  width: 80%;
  margin: auto;
}
.row,
.col {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  width: 100% !important;
  margin: auto;
  padding: 5px 0 5px 100px;
  h4 {
    font-weight: 400 !important;
    cursor: pointer;
  }
}
.col {
  flex-direction: column !important;
  align-items: flex-start;
}
.sceneSelection {
  width: 100% !important;
  margin: 15px 0;
}
.textField {
  width: 100% !important;
  margin: 15px 0 !important;
}
.fullHeight {
  height: 100vh !important;
}
.fab {
  position: fixed !important;
  bottom: 1.5rem !important;
  right: 1.5rem !important;
  // background: var(--tintColor) !important;

  svg {
    color: white !important;
  }
}
